{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "**/*.html",
            "options": { "parser": "lwc" }
        }
    ]
}
