.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #FFF;
}
.left-panel {
  display: flex;
  height: 100%;
  width: 300px;
  background-color: #FFF;
  position: relative;
  border-right: 1px solid #dddbda;
}
.left-panel .slds-nav-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left-panel .slds-nav-vertical__section {
  flex: 1;
  position: relative;
}
.left-panel .slds-tabs_default__content {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  padding: 0;
}
.left-panel-scrollable {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.right-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.right-top-panel {
  border-bottom: 1px solid #dddbda;
  flex: 1;
  display: flex;
}
.right-top-left-panel {
  flex: 1;
  border-right: 1px solid #dddbda;
  display: flex;
  flex-direction: column;
}
.soql-editor {
  position: relative;
  flex: 1;
  display: flex;
}
.soql-editor textarea {
  flex: 1;
}
.right-top-right-panel {
  width: 300px;
}
.right-bottom-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.output-panel { 
  position: relative;
  flex: 1;
}
.output-panel-scrollable {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  overflow: auto;
}
.slds-welcome-mat__info {
  background-image: url(./resources/slds/images/welcome-mat/bg-info@2x.png);
}