:host {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: var(--lwc-colorBackgroundAlt, #fff);
}
.panel-container {
  flex: 1;
}
.left-panel {
  border-right: var(--lwc-borderWidthThin, 1px) solid #dddbda;
}
.left-top-panel {
  border-bottom: var(--lwc-borderWidthThin, 1px) solid #dddbda;
  flex: 1;
}
.left-bottom-panel {
  border-bottom: var(--lwc-borderWidthThin, 1px) solid #dddbda;
  flex: 2;
}
