:host {
  width: 100%;
  display: flex;
}
.slds-tree_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slds-tree__group-header {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.sobjects-list {
  flex: 1;
  position: relative;
  margin-top: 0.5rem;
}
.slds-tabs_default__content {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  padding: 0;
}
.left-panel-scrollable {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
