.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.left-panel {
  display: flex;
  height: 100%;
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.left-panel-scrollable {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.right-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}