:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.child-relationsihp-panel {
  position: relative;
  flex: 1;
  display: flex;
}
.child-relationsihp-panel .slds-button {
  position: absolute;
  top: .25rem;
  right: .25rem;
  z-index: 100;
}